<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="Noemax.Compression" version="2.28.1958" targetFramework="net45" />
  <package id="Noemax.Compression.Sample" version="2.15.2" targetFramework="net45" />
</packages>